<%- include('includes/header', {pageTitle: 'My Products'}) %>
<%- include('includes/navigation', {path: 'shop'}) %>

<main>
  <h1>My Products</h1>
  <p>List of all the products...</p>
  <ul>
    <% products.forEach(product=>{ %>
    <li>
      <%=product %>
    </li>
    <% }) %>
  </ul>
</main>

<%- include('includes/end') %>