<span>
<form action="/admin/delete-product" method="POST">
  <button type='submit'>Delete</button>
  <input type="hidden" value="<%= product.id %>" name="id" />
</form>
<form action="/admin/edit-product" method="POST">
  <button type='submit'>Edit</button>
  <input type="hidden" value="<%= product.id %>" name="id" />
</form>
</span>