<span>
  <a href="/product-detail/<%= product.id %>" class="products__button">Details</a>
  <form action="/add-to-cart" method="POST">
    <button type="submit" class="products__button">Add To Cart</button>
    <input type="hidden" name="product" value="<%= product.id %>" />
  </form>
</span>